@import url(toggle.css);

#page-content {
    padding-top: 60px;
}

.header {
    position: fixed;
    width: calc(100% - 249px);
    top: 0;
    z-index: 100;
}

.navbar-classic {
    background-color: #0088c7;
    color: #fff;
}

.navbar-vertical {
    background-color: #f0f0f0;
}

.header .navbar #nav-toggle {
    color: #fff;
}

.navbar-vertical .navbar-nav .nav-item .nav-link.active,
.navbar-vertical .navbar-nav .nav-item .nav-link:hover {
    color: #000;
}

.navbar-vertical .navbar-nav .nav-item .nav-link:hover .nav-icon,
.navbar-vertical .navbar-nav .nav-item .nav-link.active .nav-icon {
    color: #000;
}

.header .navbar {
    box-shadow: none;
}

.navbar-vertical .navbar-brand {
    height: 64px;
    background-color: #0088c7;
    box-shadow: none;
}

.navbar-vertical {
    border-right: 0;
}

.toggled {
    .header {
        width: 100%;
    }
}

.guage {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.guage::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 38px;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.guage::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 28px;
    height: 28px;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.guage #guage-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 0.65rem;
    letter-spacing: -0.5px;
    font-weight: 700;
    color: #fff;
}

.guage #guage-text:after {
    content: "%";
}

.modalCloud {
    display: none;
    position: absolute;
    min-width: 100px;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    word-break: keep-all;
    white-space: nowrap;
    line-height: 1.3;
    font-weight: 400;
    font-size: 0.875rem;
}

.modalCloud::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    width: 8px;
    height: 8px;
    background: url(../imgs/ico_cloudText_arrow.png) no-repeat center;
}

.modalCloud.btmArrow::after {
    top: auto;
    bottom: -8px;
    transform: rotate(-180deg);
}

.guage .modalCloud {
    top: 50px;
    right: 50%;
    transform: translateX(50%)
}

.guage:hover .modalCloud {
    display: block;
}

.btn-myInfo {
    width: 38px;
    height: 38px;
    background: url(../images/icons/ico_myInfo.png) center no-repeat;
    background-size: 65%;
    border: 0;
    border-radius: 50%;
}